---
// Select UI to switch between locales.

import { getLocalePaths, LOCALES } from 'src/i18n';
---
	<label for="select" class="locale-select">
		<select data-languageSelect class="locale-select-items">
			{
				getLocalePaths(Astro.url).map(({ path, lang }) => (
					<option
						label={LOCALES[lang].flag}
						value={path}
						data-lang={lang}
						selected={lang === Astro.currentLocale}
						dir={LOCALES[lang].dir || null}
					/>
				))
			}
		</select>
	</label>

<script is:inline>
	const selects = document.querySelectorAll('[data-languageSelect]');

	selects.forEach((select) => {
		select.addEventListener('change', (event) => {
			// used for 404 page
			localStorage.selectedLang = event.target?.selectedOptions[0].dataset.lang;
			location.href = event.target?.value;
		});
	});
</script>

<style>
	.locale-select {
		position: fixed;
		bottom: 25px;
		right: 10px;
		cursor: pointer;
		display: flex;
		align-items: center;
		margin-right: 1rem;
		border-radius: 50%;
	}

	.locale-select-items {
		all: unset;
		background-color: var(--Neutral-600);
		border: none;
		height: 25px;
		font-size: 25px;
		border-radius: 50%;
		border: solid 2px var(--Neutral-50);
		padding: 0.5rem;
		line-height: 95%;
		cursor: pointer;
		transition: all 0.3s ease;
		text-align: center;
	}

	.locale-select-items:hover {
		box-shadow: 4px 4px 0 black;
		transform: translateX(-4px);
		box-shadow: 0px 0px 10px var(--Neutral-50);
	}
</style>
