---
---

<section id="background-image" transition:persist>
</section>

<script src="../scripts/backgroundImage.ts"></script>

<style>
	#background-image {
		width: 100vw;
		height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        }
</style>
