---
import { useTranslations, type Lang } from "src/i18n";

const t = useTranslations(Astro.currentLocale as Lang);
---

<footer class="footer">
	<hr class="footer__horizontal-rule" />

	<div class="footer__columns">
		<div class="footer__column">
			<h6 class="footer__column-title">Cunctae</h6>
			<ul class="footer__list">
				<li class="footer__list-item">
					<a href="/about">
						{
							t({
								es: 'Acerca',
								en: 'About',
								'pt-br': 'Sobre',
							})
						}
					</a>
				</li>
				<li class="footer__list-item">
					<a href="#">

						{
							t({
								es: 'Como trabajamos?',
								en: 'How we work?',
								'pt-br': 'Como trabalhamos?',
							})
						}
					</a>
				</li>
			</ul>
		</div>

		<div class="footer__column">
			<h6 class="footer__column-title">Legal</h6>
			<ul class="footer__list">
				<li class="footer__list-item">
					<a href="#">
						{
							t({
								es: 'No vendemos, creamos',
								en: `We don't sell, we create`,
								'pt-br': 'Não vendemos, criamos',
							})
						}
					</a>
				</li>
			</ul>
		</div>

		<div class="footer__column">
			<h6 class="footer__column-title">
				{
					t({
						es: 'Servicios',
						en: 'Services',
						'pt-br': 'Serviços',
					})
				}
			</h6>
			<ul class="footer__list">
				<li class="footer__list-item">
					<a href="mailto:cunctae@gmail.com"> cunctae@gmail.com </a>
				</li>
			</ul>
		</div>
	</div>

	<div class="footer__logo-wrapper">
		<hr class="footer__horizontal-rule" />
		<a href="/" class="footer__logo">
			© cunctae {new Date().getFullYear()}.
		</a>
		<hr class="footer__horizontal-rule" />
	</div>
</footer>

<style>
	.footer {
		position: sticky;
		top: 100vh;
		width: 100%;
		text-align: center;
		padding-block: 2rem;
		background-color: var(--Primary-300);
		color: var(--Primary-50);

		padding-left: 5rem;
		padding-right: 5rem;
	}

	.footer__columns {
		display: flex;
		justify-content: space-evenly;
		padding-top: 5rem;
		padding-bottom: 96px;

	}
	.footer__column {}
	.footer__column-title {
		font-size: var(--Body-16);
		color: var(--Black);
		font-style: oblique;
	}
	.footer__list-item a{
		font-size: var(--Body-16);
		font-weight: 100;
		text-decoration: none;
		color: var(--Black);
	}

	.footer__list-item:hover a{
		color: var(--White);
	}

	.footer__logo-wrapper {
		display: flex;
		width: 100%;
		align-items: center;
	}

	.footer__logo {
		margin: 0 1rem;
		text-wrap: nowrap;
		font-weight: bold;
		opacity: 0.5;
		transition-property: color;
		transition-duration: 0.3s;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		text-decoration: none;
		color: var(--Black);
	}

	.footer__logo:hover {
		color: var(--White);
	}

	.footer__horizontal-rule {
		margin: 0;
		width: 100%;
		border-color: rgb(255 255 255 / 1, 1));
		opacity: 0.2;
	}

	@media (max-width: 768px) {
		.footer__columns {
			flex-direction: column;
			gap: 1rem;	}
	}
</style>
