---
import { letters } from '@data/letters';

interface Props {
	alt: string;
	isLogo?: boolean;
}

const { alt, isLogo } = Astro.props;
---

<section class={`letters ${isLogo ? 'is-logo' : ''}`}>
	{
		letters.map((img) => (
			<img src={img.src} alt={`Letter ${img.id} of ${alt}`} id={img.id} draggable="false" />
		))
	}
</section>

<style>
	.letters {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		max-width: 300px;
		gap: 0.5rem;
	}

	.letters img {
		max-height: 5rem;
	}

	/* Default: Animations paused */
	#u,
	#c1,
	#a,
	#c,
	#n,
	#t,
	#e {
		animation-duration: 2.5s;
		animation-iteration-count: infinite;
		animation-play-state: paused;
	}

	/* Hover: Play animations */
	.letters:hover #u,
	.letters:hover #c1,
	.letters:hover #a {
		animation: float-down 2.5s infinite;
		animation-play-state: running;
	}

	.letters:hover #c,
	.letters:hover #n,
	.letters:hover #t,
	.letters:hover #e {
		animation: float-up 2.5s infinite;
		animation-play-state: running;
	}

	/* If isLogo is true, animations run infinitely */
	.is-logo #u,
	.is-logo #c1,
	.is-logo #a {
		animation: float-down 2.5s infinite;
		animation-play-state: running;
	}

	.is-logo #c,
	.is-logo #n,
	.is-logo #t,
	.is-logo #e {
		animation: float-up 2.5s infinite;
		animation-play-state: running;
	}

	@keyframes float-up {
		0% {
			transform: translateY(0rem);
		}
		50% {
			transform: translateY(-0.5rem);
		}
		100% {
			transform: translateY(0rem);
		}
	}

	@keyframes float-down {
		0% {
			transform: translateY(0rem);
		}
		50% {
			transform: translateY(0.5rem);
		}
		100% {
			transform: translateY(0rem);
		}
	}

	/* MEDIA QUERIES */
	@media (width <= 1200px) {
		.letters {
			max-width: 800px;
		}
		.letters img {
			max-height: 5rem;
		}
	}

	@media (width <= 900px) {
		.letters {
			max-width: 250px;
		}
		.letters img {
			max-height: 2.5rem;
		}
	}

	@media (width <= 600px) {
		.letters {
			max-width: 180px;
			gap: 0.3rem;
		}
		.letters img {
			height: 2rem;
		}
	}


	/* Specific letter adjustments */
	.letters #c {
		width: 8.125rem;
	}

	@media (width <= 1200px) {
		.letters #c {
			width: 7rem;
		}
	}

	@media (width <= 900px) {
		.letters #c {
			width: 5.5rem;
		}
	}

	@media (width <= 600px) {
		.letters #c {
			width: 3.75rem;
		}
	}

	@media (width <= 400px) {
		.letters #c {
			width: 3.2rem;
		}
	}
</style>
